

@import url('https://fonts.googleapis.com/css2?family=Yomogi&display=swap');

* {
    margin: 0px;
    padding: 0px;
    background-color: #f7f6f3;
    box-sizing: border-box;
}


h1{
    font-size: 2.5vw;
    text-align: left;
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: 50px;
    font-family: 'Rock 3D', sans-serif; 
    color: rgb(59, 101, 59)                               

}



.grid-item {
  position: relative;
  overflow: hidden;
  border-radius: 1px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); 
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.grid-item:hover .overlay {
  opacity: 1;
}

.overlay h2,
.overlay p {
  margin: 0;
  padding: 10px;
  text-align: center;
}






.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3px; 
  padding: 20px;
}

.grid-item {
  overflow: hidden;
  border-radius: 2px;
}

.grid-item:hover,
.grid-item:active {
    filter: brightness(100%); 
    
}

.grid-item img {
  width: 100%;
  height: auto;
  display: block;
}

.overlay {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f7f6f3;
  font-size: 1.563vw;
  opacity: 0;
  transition: opacity 0.3s ease;
  font-family: 'Yomogi', cursive;
}

.grid-item:hover .overlay,
.grid-item:active .overlay {
  opacity: 1;
  font-family: 'Yomogi', cursive;
  background-color: rgb(59, 101, 59);
}


p{
    background-color: transparent;
    font-size: 7vw;
    text-align: left;
    margin-left: 30px;
    font-family: 'Rock 3D', sans-serif; 
    margin-bottom: 20px;
    color: rgb(59, 101, 59);
}

@media screen and (max-width: 600px) {
  body {
    background-color: transparent;
    font-size: 7vw;
    text-align: left;
    margin-left: 30px;
    font-family: 'Rock 3D', sans-serif; 
    margin-bottom: 20px;
    color: rgb(59, 101, 59);
  }
}


.white{
    color: white;
    text-align: left;
    font-size: 36px;
    font-family: 'Yomogi', cursive;

}


body{
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;    
  }


  
  nav {
    text-align: right;
   margin-bottom: 40px;
   margin-right: 70px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-left: 20px;
}

nav a {
    text-decoration: none;
    color: #000000;
    font-size: 1.4vw;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 300;
}




  
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 100;
    src: local('Lato Hairline'), local('Lato-Hairline'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/boeCNmOCCh-EWFLSfVffDg.woff) format('woff');
  }
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: local('Lato Light'), local('Lato-Light'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/KT3KS9Aol4WfR6Vas8kNcg.woff) format('woff');
  }
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/9k-RPmcnxYEPm8CNFsH2gg.woff) format('woff');
  }
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/wkfQbvfT_02e2IWO3yYueQ.woff) format('woff');
  }

