
* {
    margin: 0px;
    padding: 0px;
    background-color: #f7f6f3;
    box-sizing: border-box;
}


h1{
    font-size: 30px;
    text-align: left;
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: 50px;
    font-family: 'Rock 3D', sans-serif; 
    color: rgb(59, 101, 59);                               

}

.box {
    width: flex;
    height: flex;
    border: 1px solid rgb(56, 101, 49);
    padding: 60px;
    margin: 50px;
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 100px;
    background-color: rgba(59, 101, 59, 0.178) ;
  }


p{
    font-size: 13px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: rgb(0, 0, 0);
    margin-left: 100px;
    margin-right: 100px
}

nav {
    text-align: right;
   margin-bottom: 50px;
   margin-right: 100px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-left: 20px;
}

nav a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Noto Sans JP', sans-serif;
}